@define-color rosewater #f2d5cf;
@define-color flamingo #eebebe;
@define-color pink #f4b8e4;
@define-color mauve #ca9ee6;
@define-color red #e78284;
@define-color maroon #ea999c;
@define-color peach #ef9f76;
@define-color yellow #e5c890;
@define-color green #a6d189;
@define-color teal #81c8be;
@define-color sky #99d1db;
@define-color sapphire #85c1dc;
@define-color blue #8caaee;
@define-color lavender #babbf1;
@define-color text #c6d0f5;
@define-color subtext1 #b5bfe2;
@define-color subtext0 #a5adce;
@define-color overlay2 #949cbb;
@define-color overlay1 #838ba7;
@define-color overlay0 #737994;
@define-color surface2 #626880;
@define-color surface1 #51576d;
@define-color surface0 #414559;
@define-color base #303446;
@define-color mantle #292c3c;
@define-color crust #232634;


* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 12.5px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  background: @base;
  color: @text;
}

tooltip {
  background: @base;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: @crust
}

#workspaces button {
  padding: 5px;
  color: @lavender;
  margin-right: 5px;
}

#workspaces button.active {
  color: @subtext0;
  color: @mauve;
}

#workspaces button.focused {
  color: @base;
  background: @mauve;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: @crust;
  background: @red;
  border-radius: 10px;
}

#workspaces button:hover {
  background: @surface0;
  color: @text;
  border-radius: 20px;
}

#custom-power_profile,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#language,
#idle_inhibitor,
#backlight,
#placeholder {
  background: @base;
  background: @surface0;
  opacity: 1;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid @mantle;
}

#temperature {
  border-radius: 10px 0px 0px 10px;
}

#temperature.critical {
  color: @maroon;
}

#backlight {
  border-radius: 0px;
  border-left: none;
  border-right: none;
  padding: 0px 5px 0px 10px;
}

#idle_inhibitor {
  border-radius: 10px;
  margin-right: 10px;
}

#language {
  border-radius: 10px;
  margin-right: 10px;
}
#tray {
  border-radius: 15px;
  margin-right: 15px;
}

#workspaces {
  background: @base;
  background: @surface0;
  border-radius: 15px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#window {
  border-radius: 15px;
  margin-left: 40px;
  margin-right: 40px;
}

#custom-music {
  border-radius: 15px;
  margin-right: 10px;
  padding: 0 15px;
  border-right: 0px;
}

#clock {
  color: @pink;
  border-radius: 15px;
  margin-right: 10px;
  padding: 0 15px;
  border-right: 0px;
}

#bluetooth {
  color: @yellow;
  border-radius: 0px 15px 15px 0px;
  border-left: 0px;
  border-right: 0px;
  padding-right: 17px;
  margin-right: 10px;
}

#pulseaudio {
  color: @blue;
  border-left: 0px;
  border-right: 0px;
  padding-left: 17px;
  border-radius: 15px 0px 0px 15px;
}

#pulseaudio.microphone {
  color: @mauve;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px 15px 15px 0px;
  margin-right: 10px;
}

#battery {
  color: @green;
  margin-right: 10px;
  padding: 0 15px;
  border-left: 0px;
  border-radius: 0px 15px 15px 0px;
}
